<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <main class="container">
      <header class="jumbotron my-4">
        <h1 class="display-3">About us</h1>
        <p class="lead">I have a very particular set of skills.</p>
        <a href="#" class="btn btn-primary btn-lg">Good luck</a>
      </header>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>